@page
@model IndexModel
@{
    ViewData["Title"] = "SR Watcher - Start";
}

<div class="text-center">
    <h1 class="display-4">SR Watcher</h1>
    <a asp-page-handler="StartWatcher">Start the watcher.</a>    
</div>
